<div class="nav">
  <ul>
    <% @goals.each do |g| %>
    g.moments
      <li><%= link_to g.title, goal_path(g.id) %></li>
    <% end %>
  </ul>
</div>

<%= content_tag :div, " ", id: "chart", data: {moments: @moments} %>

<div id="chart" >
  
</div>

<div class="moments">
  <%= link_to "Add Moment", new_moment_path, class: "new_moment_link", remote: true %>
  
  <ul class="moments_list">
    
  </ul>
  
<%= content_tag :div, " ", id: "chart", data: {moments: @moments} %>

</div>

