<div class="nav">
  <ul>
    <% @goals.each do |g| %>
      <li><%= link_to g.title, goal_path(g.id) %></li>
    <% end %>
  </ul>
</div>

<%= content_tag :div, " ", id: "chart", data: {moments: @moments} %>

<div class="moments">
</div>




