$gray: #F5F5F5;
$teal: #54B1C4;
$orange: #FF8636;
$dark: #515150;

$font: Helvetica, arial, sans-serif;

html {
  background-color: $gray;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

header {
  height: 130px;
  border-bottom: solid;
  border-color: $orange;
  border-width: 3px;
  padding-top: 20px;
  
  span {
    display: none;
  }
  
  #nav {
    float: right;
    margin: 0 20px 0 0;
  }
  
  .logo {
    float: left;
    margin: 0 0 0 20px;
    width: 100px;
    height: 100px;
    background: url('gettin-it-done-logo.png');
  }
}

.content {
  min-height: 400px;
  padding: 20px 0 0 20px;
}

footer {
  height: 100px;
  border-top: solid;
  border-color: $orange;
  border-width: 3px;
}

body, table th, table td {
  font-family: $font;
  color: $dark;
}

table th, table td {
  padding: 10px;
}

a {
  text-decoration: none;
  border-bottom: 2px $teal dotted;
  color: $teal;
}


